.boxbase{
    width: 40.5em;
    height: 22.5em;
    background-color: rgb(0, 0, 0);
    border: 0.5em solid;
    border-color: black;
}
.divImg1 {
    float: left;
    background-color: rgb(255, 255, 255);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20em;
    height: 22.5em;
}
.divImg2 {
    float: right;
    background-color: rgb(255, 255, 255);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20em;
    height: 22.5em;
}
.texteImage{
    margin-top: 10em;
}
.centered-image {
    position: absolute;
    display: flex;
    float:left;
    margin-left: 15.25em;
    margin-top: 6em;
    height: 10em;
    width: 10em;
    z-index: 100 !important;
}
.centered-button {
    font-size: 2em;
    position: absolute;
    display: flex;
    float:left;
    margin-left: 8.5em;
    z-index: 100 !important;
  }