.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .stepper {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .stepper-container {
    width: 100%;
  }
  
  .step {
    height: 95vh;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  
    @media screen and (max-width: 1600px) {
      .step:not(:last-child)::after {
        z-index: -1;
        content: '';
        position: absolute;
        left: 49.45%;
        top: 50%;
        width: 10px;
        height: 760px;
        background-color: grey;
      }
    }

    @media screen and (min-width: 1600px) {
      .step:not(:last-child)::after {
        z-index: -1;
        content: '';
        position: absolute;
        left: 49.51%;
        top: 50%;
        width: 10px;
        height: 950px;
        background-color: grey;
      }
    }

  .step-icon {
    text-align: center;
    width: 50px !important;
    height: 50px !important;
    padding : 10px;
  }

  .step-label {
    display: flex;
    align-items: center;
  }

  .step-navigation-left {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }

  .step-navigation-right {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .step-content-left {
    margin-right: 200px;
  }

  .step-content-right {
    margin-left: 200px;
  }
  
  .step-text {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    transition: transform 0.5s ease;
  }
  
  .step-text:hover {
    transform: scale(1.05);
  }

  .scroll-to-top {
    position: fixed !important;
    left: 20px;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-radius: 50%!important;
    color: white !important;
    padding: 10px!important;
    transition: transform 0.5s ease!important;
  }

  .scroll-to-top:hover {
    transform: scale(1.1) !important;
  }

  .step-arrow {
    transition: transform 0.5s ease!important;
    height: 35px;
    width: 35px;
  }

  .step-arrow:hover {
    transform: scale(1.15);
  }
  
  
  