.header {
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  .nav-link {
    margin: 0 15px;
    font-size: 1.5em; /* Taille du texte */
    font-family: Arial, sans-serif; /* Police simple */
    color: #333; /* Couleur du texte */
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #0275d8; /* Couleur au survol */
  }
  